@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: #2e3235;
}
.title {
    color: white;
    font-family: 'Lobster', cursive;
}
.subtitle {
    color:white;
    font-family: 'Roboto', sans-serif;
}
html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.button {
    background-color: #38393a; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }