@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: #276187;
}
.title {
    background-color: #273187;
    color: white;
    font-family: 'Lobster', cursive;
}
.subtitle {
    color:white;
    font-family: 'Roboto', sans-serif;
}
html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }