.gerflag {
    position: relative;
    border: 2px solid black;
    height: 75px;
    width: 111px;
    background-color: red;
    border-top: 75px solid black;
    border-bottom: 75px solid yellow;
    
  }